body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #a3c5e0;
  }

  .navbar {
    background-color: #b5d5e7;
    overflow: hidden;
    border-radius: 25px;
  }

  .navbar .icon {
    display: none;
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    display: block;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    background-color: hsl(202, 85%, 65%);
    color: #000000;
    border-radius: 5px;
    margin-right: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .logo {
    margin-right: 10px;
  }

  .logo img {
    width: 90px;
    height: 50px;
  }

  .barra {
    display: flex;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }

  .navbar li a:hover {
    background-color: #cfd5d8;
  }

  @media screen and (max-width: 600px) {
    
    .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }

    .contenedor {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      border: 1px solid black;
      border-radius: 20px;
      width: 1330px;
      height: 400px;
    }

    .contenedor img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 20px;
      filter: blur(2px);
    }
  
  h1 {
  text-align: center;
  background-color: #547499;
  padding: 10px;
  margin: 0 auto;
  width: fit-content;
  font-size: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #83a3c5;
    border-radius: 10px;
  }
  
  label, input, textarea {
    margin-bottom: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    width: 500px;
  }
  
  input, textarea {
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: #fff;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4477bb;
    color: #050505;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  button:hover {
    background-color: #4f7aaa;
  }
  
  .botones-container {
  display: flex;
  justify-content: space-between;
}

.boton-volver a,
.boton-seguir a {
  text-decoration: none;
  color: white;
}

.boton-volver {
  order: 1;
  background-color: #007BFF; 
}

.boton-seguir {
  order: 2;
  background-color: #007BFF; 
}

  